<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      const electron = require("electron");
      const ipcRenderer = electron.ipcRenderer;
      let message2UI = (command, payload) => {
        ipcRenderer.send("message-from-worker", {
          command: command,
          payload: payload,
        });
      };
      message2UI("helloWorld", { myParam: 1337, anotherParam: 42 });
    </script>
  </body>
</html>
